<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Master class</title>
</head>
<body>
  <div class="container" id="container" >
    <div class="form-container sign-in-container">
      <form [formGroup]="loginform">
        <h1>Login</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Observa tus redes</span>
        <!-- <input  [(ngModel)]="usuario"   name="usuario" placeholder="Email" />
        <input  [(ngModel)]="password" name="password"  type="password" placeholder="Password" /> -->
         <input formControlName="email"  placeholder="Email" />
        <input  formControlName="password"  type="password" placeholder="Password" /> 
        <a href="#">¿Olvidaste tu contraseña?</a>
        
        <button  (click)="login()" class=" hover:animate-jump animate-once animate-duration-1000 animate-delay-50">Sign In</button>
        <!-- [disabled]="loginform.invalid" -->
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <a><img src="../../../assets/Logo.png" class="hover:animate-jump animate-once animate-duration" ></a>
      
        </div>
      </div>
    </div>
  </div>
  
  
</body>
</html>

